<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <h1 class="text-center">Bienvenido</h1>
  <h1 class="text-center">{{usuario}}</h1>
  <h1 class="text-center">Lo lograste :)</h1>
</body>
</html>


<!--<app-crear-file id="#crearFile"></app-crear-file>
<app-friends id="#addFriend" ></app-friends>  
<app-files-friends></app-files-friends>-->
