  <div class="modal fade" id="crearFile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
              <div class="form-group">
                <input type="file" class="d-none" (change)="seleccionarArchivo($event)" #fotoInput>
                <button class="btn btn-primary" (click)= "fotoInput.click()">Elegir archivo</button>
              </div>
              <div class="form-group">
                <label for="Nombre" class="form-label mt-4">Nombre Archivo</label>
                <input type="text" name = "nombreArchivo" class="form-control" id="Nombre" [(ngModel)]="nombre"  placeholder="Nombre Archivo...">
              </div>
              <fieldset class="form-group">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="Radios" id="optionsRadios3"  value = '0' [(ngModel)] = "visibilidad">
                    Publico
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="Radios" id="optionsRadios4" value="1"  [(ngModel)] = "visibilidad">
                    Privado
                  </label>
                </div>
              </fieldset> 
              <div class="form-group">
                <label for="clave" class="form-label mt-4">Contraseña</label>
                <input type="password" name = "clave" [(ngModel)]="password" class="form-control" id="clave" placeholder="Password">
              </div>
              <div [hidden] = "oculto" [ngClass]="'alert alert-dismissible alert-' + clase" role="alert">
                  <button (click) = "oculto = !oculto" type="button" class="btn-close"></button>
                  {{msj}}
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click) = "limpiar()" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success" (click) = "subir()">Crear</button>
        </div>
      </div>
    </div>
  </div>