<div class="modal fade bd-example-modal-lg"  tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Archivos de Amigos</h5>
              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
              </button>
            </div>
            <div class="modal-body">
              <div class="col-md-6">
                  <label for="inputCat" class="form-label mt-4">Ver archivos de:</label>
                  <select [(ngModel)] = "amigo" name = "amigo"  id = "inputCat" class="form-select">
                      <option *ngFor="let friend of friends" value = {{friend.id_user}}>
                          {{friend.nombre}}
                      </option>
                  </select>
              </div>
              <app-files [amigo]= "amigo"></app-files>
            </div>
          </div>
    </div>
  </div>