<div class="modal fade" id="addFriend" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar Amigos</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row p-2">
              <div class="col-md-3 p-2 ">
                  <a (click) = "obtenerUsuarios()" class="card-link btn btn-outline-info alert-info">Todos</a>
              </div>
                <div class="col-md-6 p-2">
                    <input class="form-control" type="text" [(ngModel)]= "busqueda" name="busqueda" placeholder="Usuario...">
                </div>
                <div class="col-md-2 p-2 ">
                    <a (click) = "buscar()" class="btn btn-outline-primary">Buscar</a>
                </div>
            </div>
            <div class="card overflow-auto " style="height: 500px;">
                <div class="row">       
                    <div class="col-md-6 p-4 btn-outline-secondary " *ngFor='let user of users'>
                        <div >
                          <img [src]="'https://archivos-4-p1.s3.us-east-2.amazonaws.com/perfil/' + user.foto" class="img-fluid" width="225" alt="No Image">
                        </div>
                        <div class="card-body">
                            <p>Usuario: {{user.username}}</p>
                            <p>Archivos publicos: {{user.cantidad_archivos}}</p>
                            <div class="d-grid gap-2">
                                <button type="button" (click) = "agregar(user.id_user)"  class="btn alert-success btn-success">Agregar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
      
    