<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 p-4">
            <form>
                <legend class="text-center">SIGN UP</legend>
                <fieldset>
                  <!--<div class="form-group" style="margin-left: 30%;">
                    <input type="file" class="d-none" (change)="seleccionarFoto($event)" #fotoInput>
                    <img [src]="this.foto || 'assets/photo.svg'" class="img-fluid" width="250" alt="No Image" (click)= "fotoInput.click()">
                  </div> -->
                  <div class="form-group">
                    <label for="Nombre" class="form-label mt-4">Nombre</label>
                    <input type="text" name = "nombre" class="form-control" id="Nombre" [(ngModel)]="datos.nombre"  placeholder="Nombre">
                  </div>
                  <div class="form-group">
                    <label for="email" class="form-label mt-4">Correo electronico</label>
                    <input type="email" name = "user" class="form-control" id="email" [(ngModel)]="datos.correo"  placeholder="Email">
                  </div>
                  <div class="form-group">
                    <label for="user" class="form-label mt-4">Nombre de usuario</label>
                    <input type="text" name = "user" class="form-control" id="user" [(ngModel)]="datos.user"  placeholder="Username">
                  </div>
                  <div class="form-group">
                    <label for="password" class="form-label mt-4">Contraseña</label>
                    <input type="password" name = "password" [(ngModel)]="datos.password" class="form-control" id="password" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <label for="valida" class="form-label mt-4">Validar Contraseña</label>
                    <input type="password" name = "valida" [(ngModel)]="valida" class="form-control" id="valida" placeholder="Confirm Password">
                  </div>
                  <div class="d-grid gap-2">
                    <button (click)="registrar()" type="submit" class="btn btn-primary mt-3" id="Reg">Registrarse</button>
                  </div>
                  <div class="div">  
                    <a style="margin-left: 43%;" class="card-link" routerLink='/login'>Loguearme</a>              
                  </div>
                </fieldset>
                <div [hidden] = "oculto" [ngClass]="'alert alert-dismissible alert-' + clase" role="alert">
                    <button (click) = "ocultar()" type="button" class="btn-close"></button>
                    {{msj}}
                  </div>
            </form>
        </div>
    </div>
</div>
