<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 p-4">
            <div class="row align-items-center justify-content-center vh-100">
                <div>
                    <h1 style="font-size: 70px;">[AYD2]</h1>
                    <h2 style="font-size: 70px;" >Practica</h2>
                    <h2 style="font-size: 70px;" >Si salio</h2>
                    <h3>201700350</h3>
                    <a style="margin-left: 70%;" type="button" class="btn btn-outline-primary" routerLink='/signup'>Registrarme</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 p-4">
            <div class="row justify-content-center">
                <div class="col-md-7 p-4">
                    <div class="row align-items-center justify-content-center vh-100">
                        <form>
                            <legend class="text-center">LOGIN</legend>
                            <fieldset>
                              <div class="form-group">
                                <label for="email" class="form-label mt-4">Correo electronico / Usuario</label>
                                <input type="email" name = "user" class="form-control" id="email" [(ngModel)]="datos.user"  placeholder="Email / Username">
                              </div>
                              <div class="form-group">
                                <label for="password" class="form-label mt-4">Password</label>
                                <input type="password" name = "password" [(ngModel)]="datos.password" class="form-control" id="password" placeholder="Password">
                              </div>
                              <div class="d-grid gap-2">
                                <button (click)="loguear()" type="submit" class="btn btn-primary mt-3" id="iniciar2">Iniciar Sesion</button>
                              </div>
                            </fieldset>
                            <div [hidden] = "oculto" class="alert alert-danger alert-dismissible fade show" role="alert">
                               {{msj}}
                              <button type="button" class="btn-close" (click) = "ocultar()" aria-label="Close">
                                <span aria-hidden="true"></span>
                              </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
